<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.domain.Nebula">

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- For Push Notifications -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.domain.Nebula.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.domain.mystream.permission.C2D_MESSAGE" />


    <application
        android:name="com.domain.Nebula.Configs"
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo3_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash screen -->
        <activity
            android:name="com.domain.Nebula.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- IMPORTANT: Replace "478517440140" with your own FCM Sender Id. -->
        <!--<meta-data-->
            <!--android:name="com.parse.push.gcm_sender_id"-->
            <!--android:value="id:478517440140" />-->


        <!--<service android:name="com.parse.PushService" />-->


        <service android:name="com.domain.Nebula.firebase.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.domain.Nebula.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- For Facebook SDK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <!-- Other Activities -->
        <activity
            android:name="com.domain.Nebula.TermsOfUse"
            android:theme="@style/ActionBarAppTheme" />
        <activity android:name="com.domain.Nebula.Login" />
        <activity android:name="com.domain.Nebula.SignUp" />
        <activity android:name="com.domain.Nebula.Intro" />
        <activity android:name="com.domain.Nebula.AddStream" />
        <activity android:name="com.domain.Nebula.ShowVideo" />
        <activity android:name="com.domain.Nebula.StreamDetails" />
        <activity android:name="com.domain.Nebula.Settings" />
        <activity android:name="com.domain.Nebula.OtherUserProfile" />
        <activity android:name="com.domain.Nebula.Comments" />
        <activity android:name="com.domain.Nebula.Follow" />
        <activity android:name="com.domain.Nebula.ActivityScreen" />
        <activity android:name="com.domain.Nebula.EditProfile" />
        <activity android:name="com.domain.Nebula.Statistics" />
        <activity android:name="com.domain.Nebula.InboxActivity" />
        <activity
            android:name="com.domain.Nebula.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>
</manifest>